@font-face{
    font-family: 'MyFont';
    src: url('fonts/MyFont.ttf') format('truetype');
}


body{
    display:flex;
    justify-content:center;
    align-items:center;
    height: 100vh;
    font-family: 'MyFont', sans-serif;

    background-image: url(image/background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
}



.wrapper {
    display: flex;
    flex-direction: column; 
    align-items: center;    
}

button{
    margin:1px;
    font-family: 'MyFont', sans-serif;
}

#header{
    text-align: center;
    margin-bottom:50px;
}


#container{
    display:grid;
    background-color:beige;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(6, 100px);
    justify-content:center;
    align-content:center;
    width: fit-content;
    height: fit-content;
}

#display{
    background-color: grey;
    grid-column:span 4;
    display:flex;
    align-items:end;
    justify-content: end;
    font-size: 30px;
}

.L{
    grid-column:span 2;
}




